#root > div > div:nth-child(1) > div {
  padding-top: 0px !important;
}
#nav {
  margin-bottom: 48px;
  background-color: transparent;
}
#root > div > div > div:nth-child(1) > div {
  padding-top: 20px !important;
}
