#homeIcon:hover {
  border-bottom: 2px solid white;
  text-align: center;
}
#bginput {
  background-color: #007bff !important;
  border: solid 1px #fff;
  color: #fff;
}
body {
  background-color: white;
}
.btn {
  background: #fff;
  margin-top: 24;
  border: 1px solid;
  color: #f50057;
  border-color: #f50057;
}

input.btn:hover {
  border: 1px solid black;
}
#img:hover {
  background-color: rgb(108, 75, 121);
  border-radius: 20px;
}
#rr {
  justify-content: center;
}
#rr > button:hover {
  background-color: blueviolet;
}
a {
  color: #fff;
}
