#components-layout-demo-fixed .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 24px;
  float: left;
}
.site-layout .site-layout-background {
  background: #fff;
}
#root > div > section {
  background-color: rgba(0, 0, 0, 0);
}
#root > div > section > main > div {
  background-color: #e4ccecc7;
}
#root > div > section > header > ul > li:hover {
  background-color: #512b55;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #512b55;
}
.logo {
  text-align: center;
  background-color: #fff;
}
#root > div > div > section {
  background: rgba(0, 0, 0, 0) !important;
}
