#parent {
  display: table;
  width: 100%;
}
#form_login {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#cardLogin {
  display: "flex";
  justify-content: center;
  align-items: center;
  height: 300 !important;
  width: 200 !important;
  box-shadow: brown 5px 6px;
  justify-content: center;
  border-radius: 50px;
}
/* #root {
  background: rgb(255, 118, 167);
  background: linear-gradient(
    149deg,
    rgba(255, 118, 167, 1) 0%,
    rgba(14, 0, 255, 1) 100%
  );
  
} */
body {
  background: rgb(255, 118, 167);
  background: linear-gradient(
    0deg,
    rgba(220, 178, 255, 1) 0%,
    rgba(79, 83, 135, 1) 34%,
    rgba(1, 1, 5, 1) 100%
  );

  background-attachment: fixed;
  background-repeat: no-repeat;
}
/* #cardLogin > div {
  text-align: end;
  justify-content: center;
} */
#normal_login > div:nth-child(3) > div > div > div > button {
  width: 232px;
  background-color: brown;
  border: 0px;
  border-radius: 50px;
  margin-top: 32px;
  margin-bottom: 8px;
}
#cardLogin > div {
  width: 398px;
  text-align: center;
  padding: 40px;
}
#normal_login > div:nth-child(4) > div > div > div > button {
  width: 232px;
  background-color: brown;
  border: 0px;
  border-radius: 50px;
  margin-top: 32px;
  margin-bottom: 8px;
}

#normal_login > div:nth-child(4) > div > div > div > button:hover {
  background-color: rgb(87, 53, 87);
}
#normal_login > div:nth-child(3) > div > div > div > button:hover {
  background-color: rgb(87, 53, 87);
}
a {
  color: rgb(221, 175, 175) !important;
}
a:hover {
  color: rgb(198, 142, 250) !important;
}
